
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    background: linear-gradient(45deg, #e1cf07, #d0d09f);
}

.calculator{
     
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: linear-gradient(45deg, #e1cf07, #eef142);
    box-shadow: 0px 3px 15px rgb(128, 54, 54);
}

input{
    width: 320px;
    cursor: pointer;
    border: none;
    padding: 25px;
    margin: 10px;
    background: transparent;
    font-size: 40px;
    text-align: right;
}

input::placeholder
{
    color: #000000
}

button:hover 
  {
    background-color: #7a23e3;
    color: white;
    transform: scale(1.15);
  }

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 500%;
    font-size: 25px;
    background-color: transparent;
    box-shadow: -8px -8px 15px rgba(221, 122, 122, 0.5);
    color: #000000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.calculator #equalbtn{
    background-color: #fb7c14;
}

.calculator .op{
    background-color: #118f82f7;
}
